/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin-top: 0;
}

ul {
    padding: 0;
}

li {
    padding: 5px;
    margin-bottom: 20px;
}

li a {
    color: black;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para el header */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: x-large;
    border-bottom-left-radius: 50% 15%;
    border-bottom-right-radius: 50% 15%;
}

/* Estilos para la imagen de perfil */
header #foto {
    height: 180px;
    width: 180px;
    padding-left: 10px;
}

header div {
    padding-right: 70px;
    padding: 70px;
}

/* Estilos para el formulario */
form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: rgba(51, 51, 51, 0.051);
    padding: 20px;
    border-radius: 15px 15px 15px 15px;
}

label,
input,
textarea {
    margin-bottom: 10px;
    padding: 5px 0px 5px 0px;
}

::placeholder{
   padding-left: 5px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

input:hover,
textarea:hover {
    border-color: rgb(0, 0, 0);
}

input[type="submit"]:hover {
    background-color: rgb(83, 82, 82);
}

/* Estilos para las secciones */
section {
    padding: 60px;
}

#experiencia,
#habilidades {
    background-color: #e9e9e9;
}

section h2 {
    margin-bottom: 30px;
}

/* Estilos para la tabla */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #333;
    color: #fff;
}

.par {
    background-color: #f5f5f5;
}

#horario {
    text-align: center;
    padding-bottom: 60px;
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-top-left-radius: 50% 35%;
    border-top-right-radius: 50% 35%;
}